absl-py
astunparse
cachetools
certifi
charset-normalizer
et-xmlfile
setuptools
exectimeit @ git+https://github.com/mariolpantunes/exectime@2fcac7061881fe191833b189b16c1ad5d6894931
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
joblib
keras
libclang
Markdown
MarkupSafe
ml-dtypes
numpy
oauthlib
openpyxl
opt-einsum
packaging
pandas
protobuf
pyasn1
pyasn1-modules
python-dateutil
pytz
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
alibi
